:root {
  --red: hsl(1, 90%, 64%);
  --blue: hsl(219, 85%, 26%);

  --clr-dark-primary-200: #4a77ca;
  --clr-dark-primary-400: #104fc7;
  --clr-dark-primary-600: #222a38;
  --clr-dark-primary-700: #20223075;
  --clr-dark-primary-800: #17181f;
  --clr-dark-secondary: #a57732;
  --clr-dark-secondary-dark: #4d391b;
  --clr-dark-neutral-100: #000;
  --clr-dark-neutral-80: #3d3d3d;
  --clr-dark-neutral-60: #666666;
  --clr-dark-neutral-40: #a3a3a3;
  --clr-dark-neutral-10: #fff;
}

@font-face {
  font-family: Jakarta_Medium;
  src: url(./assets/fonts/static/PlusJakartaSans-Medium.ttf);
}
@font-face {
  font-family: Jakarta_ExtraBold;
  src: url(./assets/fonts/static/PlusJakartaSans-ExtraBold.ttf);
}
:root {
  --red: hsl(1, 90%, 64%);
  --blue: hsl(219, 85%, 26%);
}

html {
  font-size: 16px;
  font-family: Jakarta_Medium;
  color-scheme: light dark;
}
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3em 0;
}
p {
  color: hsl(219, 12%, 42%);
}




a {
  color: hsl(224, 21%, 14%);
  font-weight: 800;
  transition: 0.2s ease-in-out;
  transition-property: color, opacity;
}
a:hover {
  cursor: pointer;
  opacity: 0.8;
  color: var(--blue);
}
button {
  cursor: pointer;
  border: none;
  background-color: inherit;
}

@media (prefers-color-scheme: dark) {
  p {
    color: var(--clr-dark-neutral-40);
  }
  a {
    color: var(--clr-dark-primary-400);
  }
  a:hover {
    color: var(--clr-dark-primary-400);
    opacity: 0.5;

  }
}

.container {
  margin-bottom: 0.5rem;
  padding: 0 0.3em 2em 0.3em;
  border-radius: 0 0 1.5rem 1.5rem;
  box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.3);
}

@media (prefers-color-scheme: dark) {
  .container {
    background-color: var(--clr-dark-primary-800);
  }
}

.cont-title {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1.5em 0.8em;
  /* background-color: brown; */
}
.cont-title-notif {
  display: flex;
  align-items: center;
}
#notif-count {
  color: white;
  padding: 0.2em 0.5em;
  margin-left: 0.7em;
  background-color: var(--blue);
  border-radius: 0.2em;
  transition: color 2s ease-in-out
}
.btn-MAAR {
  color: hsl(219, 14%, 63%);
  font-size: 0.9em;
  font-weight: 400;
}
.btn-MAAR-unread {
  color: var(--blue);
  font-weight: 800;
  transition: opacity .2s ease-in-out
}
.btn-MAAR-unread:hover {
  opacity: .3;
}

@media (prefers-color-scheme: dark) {
  #notif-count {
    background-color: var(--clr-dark-primary-200);
  }
  .btn-MAAR {
    color: var(--clr-dark-neutral-80);
  }
  .btn-MAAR-unread {
    background-color: var(--clr-dark-primary-200);
    color: var(--clr-dark-primary-800);
    padding: .6em 1em;
    border-radius: 8px;
    transition: background-color .2s ease-in-out, color .2s ease-in-out;
  }
  .btn-MAAR-unread:hover {
    opacity: 1;
    background-color: var(--clr-dark-primary-700);
    color: var(--clr-dark-primary-200);
  }
}

.cont-content {
  padding: 0.5rem;
  display: grid;
  gap: 1rem;
}
.cont {
  display: grid;
  align-items: start;
  grid-template-columns: auto 1fr auto;
  gap: 0.3em;
  padding: 1em 0.5em;
  grid-template-rows: 1fr;
  border-radius: 8px;
}
/* .cont: hover {
    cursor: pointer;
    opacity: .8;
    background-color: hsl(240, 4%, 95%)
} */
.cont-avatar {
  grid-column: 1;
  justify-self: center;
  /* padding: 0 0.5em; */
  padding-right: 0.5em;
}
.cont-avatar img {
  width: 2.5rem;
}
.cont-text {
  grid-column: 2;
  font-size: 0.9rem;
}
.cont-text p,
.cont-text a,
.cont-text i {
  display: inline;
}
#icon-unread {
  font-size: 0.4em;
  color: var(--red);
  margin-left: 0.5em;
  vertical-align: middle;
}
#description-text {
  margin: 0 0.2em;
}
#time {
  display: block;
  margin: 0.2em 0;
}
p[id="time"] {
  color: hsl(219, 14%, 63%);
}
@media (prefers-color-scheme: dark) {
  p[id="time"] {
    color: var(--clr-dark-neutral-60)
  }
}
#post {
  font-family: Jakarta_ExtraBold;
  color: hsl(219, 12%, 42%);
  transition: color 0.2s ease-in-out,
  text-decoration .2s ease-in-out;
}
  #post:hover {
  cursor: pointer;
  text-decoration: underline;
}
#group {
  font-family: Jakarta_ExtraBold;
  color: var(--blue);
}
#group:hover {
  cursor: pointer;
  text-decoration: underline;
}
#private-message {
  display: block;
  border: 1px solid hsl(210, 43%, 95%);
  border-radius: 8px;
  font-size: 0.9em;
  padding: 1.2em;
  margin-top: 1em;
  transition: background-color 0.2s ease-in-out,
  border .2s ease-in-out;
}
#private-message:hover {
  cursor: pointer;
  background-color: hsl(210, 43%, 95%);
}
#image {
  width: 2.5em;
}

@media (prefers-color-scheme: dark) {
  #post {
    color: var(--clr-dark-secondary);
  }
  #group {
    color: var(--clr-dark-secondary);
  }
  #private-message {
    border: 2px solid var(--clr-dark-primary-700);
  }
  #private-message:hover {
    background-color: var(--clr-dark-primary-700);
    border: 2px solid var(--clr-dark-primary-800);

  }
}

@media (min-width: 40em) {
  .container {
    margin: 0 auto;
    max-width: 500px;
    max-height: 750px;
    overflow: auto;
    border-radius: 1.5rem;
    box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.3);
  }
}

.hidden,
.cont-text .hidden {
  display: none;
}
.unread {
  background-color: hsl(210, 43%, 95%);
  border-radius: 1em;
  animation: 3s ease-in-out anim-unread;
}

@media (prefers-color-scheme: dark) {
  .unread {
    background-color: var(--clr-dark-primary-700);
  }
}